<% if(post.published == true){ %>
  <div><h1><%= post.title %></h1></div>
  <div><strong>Posted: <%= post.createdAt %></strong></div>
  <div><p><%= post.content %></p></div>
  <div><img src="<%= post.images %>"></div>
<% } %>

<a href="/newsblog">Home</a>
<a href="/newsPost/unpublish/<%= post.id %>">Unpublish</a>
<a href="/newsPost/edit/<%= post.id %>">Edit</a>
