


<div id="adminCMS">
  <div class="container">
    <div class="col-ld-12 col-md-12 col-sm-12 col-xs-12 draftsWrapper">
      <h1>Holding Tank</h1>
      <h2 class="draftsHeader">Pending</h1>
      <!--company POST READY-->
        <% payload[1].forEach(function(post){ %>
          <% if(post.generalCategory=='companypost'){ %>
            <a class="readyBlockLink" href="/companyPost/edit/<%= post.id %>">
              <div class="innerblock">
                <p class="titleHoldingTank"> Company Post </p>
                <p><%= post.title %></p>
                <p><%- post.shortContent %></p>
                <div class="dateHover">Days Left:&nbsp;<%- post.daysLeft %></div>
              </div>
            </a>
          <% } %>
          <% if(post.generalCategory=='pressrelease'){ %>
            <a class="readyBlockLink" href="/pressrelease/edit/<%= post.id %>">
              <div class="innerblock">
                <p class="titleHoldingTank"> Press Release </p>
                <p><%= post.title %><p>
                <p><%- post.abstract %></p>
                <div class="dateHover">Days Left:&nbsp;<%- post.daysLeft %></div>
              </div>
            </a>
          <% } %>
        <% }); %>
      <h2 class="draftsHeader">Drafts</h1>
      <!--company POST DRAFTS -->
        <% payload[0].forEach(function(post){ %>
          <% if(post.generalCategory=='companypost'){ %>
            <a class="draftsBlockLink" href="/companyPost/edit/<%= post.id %>">
              <div class="innerblock">
                <p class="titleHoldingTank">Company Post DRAFT</p>
                <p><%= post.title %></p>
                <p><%- post.shortContent %></p>
              </div>
            </a>
          <% } %>
      <!--PRESS RELEASE DRAFTS -->
          <% if(post.generalCategory=='pressrelease'){ %>
            <a class="draftsBlockLink" href="/pressrelease/edit/<%= post.slug %>">
              <div class="innerblock">
                <p class="titleHoldingTank">Press Release DRAFT</p>
                <p><%= post.title %></p>
                <p><%- post.abstract %></p>
              </div>
            </a>
          <% } %>
        <% }); %>
      </div>
    </div>
  </dvi>
