
<div id="createNewPost">
  <div class="container">
    <h1>Edit Company Blog Post</h1>
    <section id="editcompanyBlogPostForm">
      <form action="/companyPost/editpost" method="post" enctype="multipart/form-data">
        <!--TITLE-->
        <h3>TITLE:</h3>
        <div><input type="text" name="title" size="70" value="<%= post.title %>"></div>
        <!--DATE-->
        <h3>DATE TO RELEASE:</h3>
          <div>
            Date:<input id="releaseDateHook" type="text" name="date" value="<%= post.date %>" size="35">
          </div>
        <!--CATEGORY-->
        <h3>CATEGORY:</h3>
        <div>
          <select type="text" name="category">
            <option selected value="<%=post.category%>"><%=post.category%></option>
            <option value="Platform Updates &amp; Annoucements">Platform Updates &amp; Annoucements</option>
            <option value="Company News">Company News</option>
            <option value="Affiliates &amp; Partnerships">Affiliates &amp; Partnerships</option>
            <option value="Initiatives &amp; Philanthropy">Initiatives &amp; Philanthropy</option>
          </select></br></br>
        </div>
        <!--TAGS-->
        <h3>TAGS</h3>
        <div><input type="text" class="tagField" name="tagArray"  size="70" placeholder="type a TAG and PRESS RIGHT ARROW and add more..."><span><input type='button' onclick="removeTags();" value="Delete Tags"></span><span class='tagContainer'></span></div>
        <div><input type="text" class="tagSender" name="tagSender" value="<%= post.tagArray %>" size="70"></div>
        <!--IMAGE-->
        <h3>IMAGE</h3>
        <p>Change current image?:<input type="file" name="image" /></p>
        <!--CONTENT-->
        <h3>CONTENT</h3>
        <div><textarea name="content" rows="30" cols="50"><%= post.content %></textarea></div>
        <!--PUBLISHED NOW???-->
        <h3>PUBLISH</h3>
        <div><input type="checkbox" name="published" value="true">Publish now?</div></br>
        <!--SUBMIT-->
        <div class="postSubmitButton"><input type="submit"></div>
      </form>
    </section>



<script>
  var tagArrayAll = [];
  $('.tagField').keydown(function(e) {
    var currentTag = $(this).val();
    if(e.which == 39) {
      $('.tagContainer').append('<span class="oneTag">'+currentTag+'&nbsp;&nbsp;</span>');
      $('.tagField').val('');
      tagArrayAll.push(currentTag);
      $('.tagSender').val(tagArrayAll);
      console.log(tagArrayAll);
      console.log(typeof tagArrayAll);
    }
  });

  function removeTags() {
    $('.oneTag').remove();
    $('.tagSender').val("");
    window.tagArrayAll = [];
  }

</script>
