<div id ="pressRelease">
  <div class="container">
    <div
    <div class="row">

      <!--COL LEFT-->
      <h1>Press &amp; Media</h1>
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">

        <h2>Press Releases</h2>
        <% posts.forEach(function(post){ %>
          <% if(post.published == true){ %>
            <div class="postWrapper">
              <div class="pressTitleDate"><h3><a href="/pressreleases/<%= post.slug %>"><%= post.title %></a></h3><span><%= post.date %></span></div>
              <div class="abstractWrapper"><p><%- post.abstract %></p></div>
            </div>
         <% } %>
        <% }); %>
      </div>
      <!--END COL LEFT-->

      <!--COL RIGHT-->
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 colRight">
        <h2>Media Kit</h2>
        <h4>About our Media Kit</h4>
        <p>We have provide a downloadable media kit with curated information, images and media in efforts to make generating content about our company efficient and easy. Press Kits can be downloaded individually with related press releases or downloaded as a comprehensive .zip file below.</p>
        <h4>Contacting us</h4>
        <p>If you have additional press and/or media related questions that are not addressed in the provided Press Kits(s) or Media Kit, please email us at:<a id="mediaEmail" href="#">media@procur.com</a>.
        <h4>License and Copyright</h4>
        <p>You may use the provided media assets in accordance with the Usage Guidelines provided in the Media Kit and Press Kits(s). Please note that these are copyrighted materials.  Any use of these materials that does not adhere to these guidelines is an infringment of Procur's intellectual property rights, and will be prosecuted accordingly.
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>Creative Commons Permissions</h4>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <h4>Download Buttons Go Here:</h4>
          </div>
        </div>
        <a href="/pressRelease/new">Create New Press Release</a>
      </div>
      <!--END COL RIGHT-->









 <a class="next" href="#" onclick="nextPage(); return false;">NEXT</a>
 <a class="previous" href="#" onclick="previousPage(); return false;">PREVIOUS</a>


<script>

function nextPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/pressreleases'){
     a.href = '/pressreleases?page=2';
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/pressreleases?page='+(parseInt(pageNumber)+1);
     }
     //a.innerHTML = "NEXT PAGE";
     //document.body.appendChild(a);
     return a.href;
}

function previousPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/pressreleases'){
     return
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/pressreleases?page='+(parseInt(pageNumber)-1);
     }
     return a.href;
}


function nextPage(){
  window.location = nextPageFire();
}

function previousPage(){
  window.location = previousPageFire();
}

function isFirstPage(){
  var a = document.createElement('a');
  a.href = '';
  var pageNumber = a.search.replace( /^\D+/g, '');
  if (pageNumber == 1 || pageNumber == '') return true;
  return false;
}

function isLastPage(){
  var a = document.createElement('a');
  a.href = '';
  var pageNumber = a.search.replace( /^\D+/g, '');
  console.log(pageNumber);
  if((((pageNumber -1)*3)+<%= posts.length %>) == <%= numTruePosts %> || (pageNumber=="" && <%= numTruePosts %> <= 3)) return true;
  return false;
}

if (isFirstPage()==true){
    $(".previous").hide();
}

if (isLastPage()==true){
    $(".next").hide();
}

</script>
