
<% if(post.published == true){ %>
  <div><h1><%= post.title %></h1></div>
  <div><p><%= post.timestamp %></p></div>
  <div><p><%= post.abstract %></p></div>
  <div><p><%= post.content %></p></div>
<% } %>

<!--
<form action="/pressRelease/download/<%= post.slug %>" method="get" >
<button type="submit">Download the Zip!</button>
</form>
-->

<a href="/pressreleases">Home</a>
<a href="/pressRelease/unpublish/<%= post.slug %>">Unpublish</a>
<a href="/pressRelease/edit/<%= post.slug %>">Edit</a>
