
<div id="pressReleaseShowOne">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 leftCol">
        <div class="backWrapper">
          <h5><a href="/pressreleases">Back to Press &amp; Media page</a></h5>
        </div>
        <% if(post.published == true){ %>
          <div><h1><%= post.title %></h1></div>
          <div class="specsContainer">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <h6>Posted On</h6><p><%= post.longDate %></p><!--<h6>Tags</h6><p>Tag placeholder</p>-->
              </div>
              <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 showOneLinks">
                <i class="fa fa-envelope"></i><a href="#">EMAIL</a>
                <i class="fa fa-print"></i><a href="#" onclick="window.print();return false;">PRINT</a>
                <i class="fa fa-download"></i><a href="#">DOWNLOAD</a>
              </div>
            </div>
          </div>
          <div class="abstractWrapper"><p><strong><%- post.abstract %></strong></p></div>
          <div class="contentWrapper"><p><%- post.content %></p></div>
        <% } %>
        <div class="adminToolBox">
          <h3>ADMIN TOOLBOX</h3>
          <div class="adminTools">
            <a href="/admin/index">Admin Home</a>
            <a href="/pressRelease/unpublish/<%= post.slug %>">Unpublish</a>
            <a href="/pressRelease/edit/<%= post.slug %>">Edit</a>
            <a href="/pressRelease/new">Create</a>
            <a href="/admin/drafts">Tank</a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 rightCol">
        <h2>Recent Press Releases</h2>
        <div class="recentPressRelease">
        </div>
        <div id="ccWrapper">
          <div id="CC1"><img src="/images/cc1.png"></div>
          <div id="CC2"><img src='/images/cc2.png'></div>
          <div id="CC3"><img src="/images/cc3.png"></div>
        </div>
        <a class="finalLink" href="#">Download All Press Kits</a>
      </div>
    </div>
  </div>
</div>






<!--<form action="/pressRelease/download/<%= post.slug %>" method="get" >
<button type="submit">Download the Zip!</button>
</form>-->
