<%- partial('../partials/mktheaderline') %>
<div id="BlogIndex">
  <div class="container">
    <div class="row">
      <!--START LEFT COLUMN-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

        <!--ITERATIVELY ADD POSTS-->
        <% posts.forEach(function(post){ %>
          <% if(post.published == true ){ %>
            <div class="postContainer">
              <div class="postTitle"><h3><%= post.title %></h3></a></div>
              <div class="BlogPostSpecs">
                <h6>Posted On</h6><span><%= post.longDate %></span>
                <h6>Under</h6><span><%= post.category %></span>
                <h6>Tags</h6><span><%= post.tagArray %></span>
              </div>
              <% if(post.images!=null){ %><div class="BlogPostPhotoWrapper"><img class="BlogPostPhoto" src="<%= post.images %>"></div><% } %>
              <div class="postContent"><p><%-post.shortContent%><a class="readMoreLink" href="/Blog/<%= post.slug %>">Read More ></a></p></div>
            </div>
          <% } %>
        <% }); %>
        <!--END Blog POSTS-->

        <!--START PAGINATION CALLS-->
        <div class="pageNavigationWrapper">
          <span class='pageNumbers'>Navigate by page:</span>
          <% for (i=1;i<=Math.ceil(numTruePosts/3);i++) { %>
          <a class="pagenumberLink" href='/Blog?page=<%=i%>'><%= i %></a>
          <% } %>
          <div class="nextpreviousWrapper">
            <a class="previous" href="#" onclick="previousPage(); return false;">< Previous</a>
            <a class="next" href="#" onclick="nextPage(); return false;">Next ></a>
          </div>
        </div>
        <!-- END PAGINATION-->
      </div>
      <!--END COLUNM LEFT-->


      <!--START COLUMN RIGHT-->
      <%- partial('../partials/blogRightColumn') %>
      <!--END COLUMN RIGHT-->

    <div>
  </div>
</div>


<!--START PAGINATION SCRIPTS-->
<script>

function nextPageFire(){
  var a = document.createElement('a');
  a.href = '';
  if (a.href.slice(a.href.length-12,a.href.length) == '/Blog'){
    a.href = '/Blog?page=2';
  } else {
    alert
    var pageNumber = a.search.replace( /^\D+/g, '');
    a.href = '/Blog?page='+(parseInt(pageNumber)+1);
  }
  return a.href;
}

function previousPageFire(){
  var a = document.createElement('a');
  a.href = '';
  if (a.href.slice(a.href.length-12,a.href.length) == '/Blog'){
    return
  } else {
    var pageNumber = a.search.replace( /^\D+/g, '');
    a.href = '/Blog?page='+(parseInt(pageNumber)-1);
  }
  return a.href;
}

function nextPage(){
  window.location = nextPageFire();
}

function previousPage(){
  window.location = previousPageFire();
}

function isFirstPage(){
  var a = document.createElement('a');
  a.href = '';
  var pageNumber = a.search.replace( /^\D+/g, '');
  if (pageNumber == 1 || pageNumber == '') return true;
  return false;
}

function isLastPage(){
  var a = document.createElement('a');
  a.href = '';
  var pageNumber = a.search.replace( /^\D+/g, '');
  if((((pageNumber -1)*3)+<%= posts.length %>) == <%= numTruePosts %> || (pageNumber=="" && <%= numTruePosts %> <= 3)) return true;
  return false;
}

if (isFirstPage()==true){
  $(".previous").hide();
}

if (isLastPage()==true){
  $(".next").hide();
}


</script>
<!--END PAGINATION SCRIPTS-->
