<%- partial('../partials/mktheaderline') %>

<div id="BlogIndex">
  <div id="BlogNotFound">
  <div class="container">
    <div class="row">
      <!--START LEFT COLUMN-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" id="notFoundContainer">

        <div class="searchAlternativesWrapper">
          <p class="header">Sorry, we can't locate that page. You may have followed an outdated link or typed an address incorrectly. If you know what you're looking for, you can try:</p>

              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 outerWrap">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerWrap">
                  <i class="fa fa-font"></i><h5 class="searchAlt">&nbsp;&nbsp;Typing the address again</h5>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerWrap">
                  <i class="fa fa-search"></i><h5 class="searchAlt">&nbsp;&nbsp;Searching the Blog</h5>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 outerWrap">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerWrap">
                  <i class="fa fa-calendar"></i><h5 class="searchAlt">&nbsp;&nbsp;Browsing posts by date</h5>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerWrap">
                  <i class="fa fa-list-alt"></i><h5 class="searchAlt">&nbsp;&nbsp;Viewing posts by category</h5>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 outerWrap specialOuter">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 innerWrap">
                  <i class="fa fa-tasks"></i><h5 class="searchAlt">&nbsp;&nbsp;Or, view recent posts:</h5>
                </div>
              </div>

        </div>



        <!--ITERATIVELY ADD POSTS-->
        <% posts.forEach(function(post){ %>
          <% if(post.published == true){ %>
            <div class="postContainer">
              <div class="postTitle"><h3><%= post.title %></h3></a></div>
              <div class="BlogPostSpecs">
                <h6>Posted On</h6><span><%= post.longDate %></span>
                <h6>Under</h6><span><%= post.category %></span>
                <h6>Tags</h6><span><%= post.tagArray %></span>
              </div>
              <% if(post.images!=null){ %><div class="BlogPostPhotoWrapper"><img class="BlogPostPhoto" src="<%= post.images %>"></div><% } %>
              <div class="postContent"><p><%-post.shortContent%><a class="readMoreLink" href="/Blog/<%= post.id %>">Read More ></a></p></div>
            </div>
          <% } %>
        <% }); %>


        <!--END POSTS-->



      </div>
      <!--END COLUMN LEFT-->






      <!--START COLUMN RIGHT-->
      <%- partial('../partials/blogRightColumn') %>
      <!--END COLUMN RIGHT-->

    </div>
  </div>
  </div>
</div>
