<%- partial('../partials/mktheaderline') %>
<div id="BlogIndex">
  <div class="container">
    <div class="row">
      <!--START LEFT COLUMN-->
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">

      <!--ADD POST-->
        <% if(post.published == true){ %>
          <div class="postContainer">
            <div class="postTitle"><h3><%= post.title %></h3></a></div>
            <div class="BlogPostSpecs">
              <h6>Posted On</h6><span><%= post.longDate %></span>
              <h6>Under</h6><span><%= post.category %></span>
              <h6>Tags</h6><span><%= post.tagArray %></span>
            </div>
            <% if(post.images!=null){ %><div class="BlogPostPhotoWrapper"><img class="BlogPostPhoto" src="<%= post.images %>"></div><% } %>
            <div class="postContent"><p><%-post.content%></p></div>
          </div>
        <% } %>
        <!--ADMIN TOOLBOX-->
        <% if (req.session.authenticated){ %>
            <div class="adminToolBox">
              <h3>ADMIN TOOLBOX</h3>
              <div class="adminTools">
                <a href="/admin/index">Dashboard</a>
                <a href="/admin/drafts">Tank</a>
                <a href="/BlogPost/unpublish/<%= post.slug %>">Unpublish</a>
                <a href="/BlogPost/edit/<%= post.slug %>">Edit</a>
                <a href="/BlogPost/new">Create</a>

              </div>
            </div>
        <% } %>
      </div>

      <!--START RIGHT COLUMN-->
      <%- partial('../partials/blogRightColumn') %>
      <!-- END COLUMN RIGHT-->

    </div>
  </div>
</div>
