<h1>Marketing Blog</h1>

<hr>

<% posts.forEach(function(post){ %>
  <% if(post.published == true){ %>
    <div><a href="/marketingblog/<%= post.id %>"><h3><%= post.title %></h3></a></div>
    <div><strong>Posted: <%= post.createdAt %></strong></div>
    <div><p><%= post.content %></p></div>
    <div><img src="<%= post.images %>"></div>
  <% } %>
<% }); %>

<a href="/marketingPost/new">Create New Post</a>

<script>

function nextPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/marketingblog'){
     a.href = '/marketingblog?page=2';
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/marketingblog?page='+(parseInt(pageNumber)+1);
     }
     //a.innerHTML = "NEXT PAGE";
     //document.body.appendChild(a);
     return a.href;
}

function previousPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/marketingblog'){
     return
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/marketingblog?page='+(parseInt(pageNumber)-1);
     }
     return a.href;
}

function nextPage(){
  window.location = nextPageFire();
}

function previousPage(){
  window.location = previousPageFire();
}

</script>

<a href="#" onclick="nextPage(); return false;">NEXT</a>
<a href="#" onclick="previousPage(); return false;">PREVIOUS</a>
