<h1>Marketing Blog</h1>

<hr>
<% console.log(numTruePosts) %>
<% console.log(posts.length) %>

<% posts.forEach(function(post){ %>
  <% if(post.published == true){ %>
    <div><a href="/marketingblog/<%= post.id %>"><h3><%= post.title %></h3></a></div>
    <div><strong>Posted: <%= post.timestamp %></strong></div>
    <div><p><%= post.content %></p></div>
    <% if(post.images!=null){ %><div><img src="<%= post.images %>"></div><% } %>
  <% } %>
<% }); %>

<a href="/marketingPost/new">Create New Post</a>
<a class="next" href="#" onclick="nextPage(); return false;">NEXT</a>
<a class="previous" href="#" onclick="previousPage(); return false;">PREVIOUS</a>

<script>

function nextPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/marketingblog'){
     a.href = '/marketingblog?page=2';
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/marketingblog?page='+(parseInt(pageNumber)+1);
     }
     //a.innerHTML = "NEXT PAGE";
     //document.body.appendChild(a);
     return a.href;
}

function previousPageFire(){
     var a = document.createElement('a');
     a.href = '';
     if (a.href == 'http://localhost:1337/marketingblog'){
     return
     } else {
     var pageNumber = a.search.replace( /^\D+/g, '');
     a.href = '/marketingblog?page='+(parseInt(pageNumber)-1);
     }
     return a.href;
}

function nextPage(){
  window.location = nextPageFire();
}

function previousPage(){
  window.location = previousPageFire();
}

function isFirstPage(){
  var a = document.createElement('a');
  a.href = '';
  var pageNumber = a.search.replace( /^\D+/g, '');
  if (pageNumber == 1 || pageNumber == '') return true;
  return false;
}

function isLastPage(){
  var a = document.createElement('a');
  a.href = '';
  var pageNumber = a.search.replace( /^\D+/g, '');
  console.log(pageNumber);
  if((((pageNumber -1)*3)+<%= posts.length %>) == <%= numTruePosts %> || (pageNumber=="" && <%= numTruePosts %> <= 3)) return true;
  return false;
}



if (isFirstPage()==true){
    $(".previous").hide();
}

if (isLastPage()==true){
    $(".next").hide();
}

function pageNumberAssembler(){
  for (i=1;i<=(<%= numTruePosts %>/(3));i++){
    document.write("helloo");
}
}

pageNumberAssembler();


</script>
