
<% if(post.published == true){ %>
  <div><a href="/marketingblog/<%= post.id %>"><h3><%= post.title %></h3></a></div>
  <span><%= post.date %></span><span style="margin-left:30px"><%= post.category %></span><span style="margin-left:30px;color:red"><%= post.tagArray %></span>
  <div><p><%= post.content %></p></div>
  <% if(post.images!=null){ %><div><img src="<%= post.images %>"></div><% } %>
<% } %>





<a href="/marketingblog">Home</a>
<a href="/marketingPost/unpublish/<%= post.id %>">Unpublish</a>
<a href="/marketingPost/edit/<%= post.id %>">Edit</a>
