
<% if(post.published == true){ %>
  <div><h1><%= post.title %></h1></div>

  <div><strong>Posted: <%= post.timestamp %></strong></div>
  <div><p><%= post.content %></p></div>
  <% if(post.images!=null){ %><div><img src="<%= post.images %>"></div><% } %>
<% } %>





<a href="/marketingblog">Home</a>
<a href="/marketingPost/unpublish/<%= post.id %>">Unpublish</a>
<a href="/marketingPost/edit/<%= post.id %>">Edit</a>
