<h1>Upcoming Trade Events and Exhibitions</h1>

<% posts.forEach(function(post){ %>
  <% if(post.published == true){ %>
    <div><a href="/tradeshows/<%= post.id %>"><h3><%= post.title %></h3></a></div>
    <div><strong>Date of Show: <%= post.date %></strong></div>
    <div><strong>Location of Show: <%= post.location %></strong></div>
    <div><strong>Website of Show: <%= post.website %></strong></div>
    <div><strong>Posted: <%= post.createdAt %></strong></div>
    <div><p><%= post.content %></p></div>
  <% } %>
<% }); %>
