<% if(post.published == true){ %>
  <div><strong><h1><%= post.title %></h1></strong></div>
  <div><%= post.date %></div>
  <div><%= post.location %></div>
  <div><%= post.website %></div>
  <div><p><%= post.content %></p></div>
  <div><img src="<%= post.images %>"></div>
<% } %>

<a href="/tradeshows">Home</a>
<a href="/tradeshowPost/unpublish/<%= post.id %>">Unpublish</a>
<a href="/tradeshowPost/edit/<%= post.id %>">Edit</a>
